In [1]:
#Импортируем данные
import pandas
data = pandas.read_csv('irisdata.txt', header=None)

In [2]:
#Назначим столбцам имена
data.columns=["sepal length", "sepal width", "petal length", "petal width", "class"]

In [3]:
data.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
#Функция получения данных по значению класса ириса
def getDataSetByTypeOfClass(dataName, columnName, typeOfClass):
    return dataName.loc[dataName[columnName] == typeOfClass]

#Функция подсчета объектов в данных 
def getCountNumber(dataName):
    return ["N = " + str(len(dataName))]

#Функция получения статистической информации для набора данных по определенному столбцу
def getStatisticalInformation(dataName, columnName):
    info = []
    info.append(dataName[columnName].count())
    info.append(round(dataName[columnName].mean(), 1))
    info.append(round(dataName[columnName].min(), 1))
    info.append(round(dataName[columnName].median(), 1))
    info.append(round(dataName[columnName].max(), 1))
    info.append(round(dataName[columnName].std(), 1))
    return info

#Функция подсчета количества объектов с определенными параметрами длины
def getLenghtInfo(dataName, columnName):
    totalNumber = dataName[columnName].count()
    info = [
    str((dataName[columnName] < 5).sum()) + 
        " (" + str(round(float((dataName[columnName] < 5).sum())/totalNumber, 3) * 100) + ")",
    str(((dataName[columnName] >= 5) & (dataName[columnName] < 6)).sum()) +
        " (" + str(round(float((((dataName[columnName] >= 5) & (dataName[columnName] < 6)).sum()))/totalNumber, 3) * 100) + ")",
    str(((dataName[columnName] >= 6) & (dataName[columnName] < 7)).sum()) +
        " (" + str(round(float(((dataName[columnName] >= 6) & (dataName[columnName] < 7)).sum())/totalNumber, 3) * 100) + ")",
    str((dataName[columnName] >= 7).sum()) +
        " (" + str(round(float((dataName[columnName] >= 7).sum())/totalNumber, 3) * 100) + ")"
    ]
    return info

#Функция подсчета количества объектов с определенными параметрами ширины
def getWidthInfo(dataName, columnName):
    totalNumber = dataName[columnName].count()
    info = [
    str((dataName[columnName] < 3).sum()) + 
        " (" + str(round(float((dataName[columnName] < 3).sum())/totalNumber, 3) * 100) + ")",
    str(((dataName[columnName] >= 3) & (dataName[columnName] < 3.5)).sum()) +
        " (" + str(round(float(((dataName[columnName] >= 3) & (dataName[columnName] < 3.5)).sum())/totalNumber, 3) * 100) + ")",
    str(((dataName[columnName] >= 3.5) & (dataName[columnName] < 4)).sum()) +
        " (" + str(round(float(((dataName[columnName] >= 3.5) & (dataName[columnName] < 4)).sum())/totalNumber, 3) * 100) + ")"
    ]
    return info

#Функция представления информации по определенному набору данных
def getGeneralInfo(dataTypeOfIris):
    countNumber = getCountNumber(dataTypeOfIris)
    statisticalInformationOnSepalLength = getStatisticalInformation(dataTypeOfIris, 'sepal length')
    sepalLengthInfo = getLenghtInfo(dataTypeOfIris, 'sepal length')
    statisticalInformationOnSepalWidth = getStatisticalInformation(dataTypeOfIris, 'sepal width')
    sepalWidthInfo = getWidthInfo(dataTypeOfIris, 'sepal width')
    return countNumber + [''] + statisticalInformationOnSepalLength + [''] + sepalLengthInfo + [''] + statisticalInformationOnSepalWidth + [''] + sepalWidthInfo

In [5]:
#Создадим набор данных для каждого вида ирисов и получим по ним информацию в виде массива
dataTotal = data
infoTotal = getGeneralInfo(dataTotal)
dataSetosa = getDataSetByTypeOfClass(data, 'class', 'Iris-setosa')
infoSetosa = getGeneralInfo(dataSetosa)
dataVersicolor = getDataSetByTypeOfClass(data, 'class', 'Iris-versicolor')
infoVersicolor = getGeneralInfo(dataVersicolor)
dataVirginica = getDataSetByTypeOfClass(data, 'class', 'Iris-virginica')
infoVirginica = getGeneralInfo(dataVirginica)

In [6]:
#Создадим таблицу на основе полученных массивов
matrix = {'Iris-Setosa': infoSetosa,
         'Iris-Versicolor': infoVersicolor,
         'Iris-Virginica': infoVirginica,
         'Total': infoTotal}
df = pandas.DataFrame(data = matrix)

In [7]:
#Переименуем строки таблицы
df = df.rename(index={0: '',
                      1: 'SEPAL LENGTH [CM]',
                      2: 'N',
                      3: 'MEAN',
                      4: 'MIN',
                      5: 'MEDIAN',
                      6: 'MAX',
                      7: 'STANDARD DEVIATION',
                      8: 'SEPAL LENGTH (%)',
                      9: '< 5',
                      10: '>= 5 AND < 6',
                      11: '>= 6 AND < 7',
                      12: '>= 7',
                      13: 'SEPAL WIDTH [CM]',
                      14: 'N',
                      15: 'MEAN',
                      16: 'MIN',
                      17: 'MEDIAN',
                      18: 'MAX',
                      19: 'STANDARD DEVIATION',
                      20: 'SEPAL WIDTH (%)',
                      21: '< 3',
                      22: '>= 3 AND < 3.5',
                      23: '>= 3.5 AND < 4'})

In [8]:
#Итоговая таблица
df

                   Iris-Setosa Iris-Versicolor Iris-Virginica      Total
                        N = 50          N = 50         N = 50    N = 150
SEPAL LENGTH [CM]
N                           50              50             50        150
MEAN                         5             5.9            6.6        5.8
MIN                        4.3             4.9            4.9        4.3
MEDIAN                       5             5.9            6.5        5.8
MAX                        5.8               7            7.9        7.9
STANDARD DEVIATION         0.4             0.5            0.6        0.8
SEPAL LENGTH (%)
< 5                  20 (40.0)         1 (2.0)        1 (2.0)  22 (14.7)
>= 5 AND < 6         30 (60.0)       25 (50.0)       6 (12.0)  61 (40.7)
>= 6 AND < 7           0 (0.0)       23 (46.0)      31 (62.0)  54 (36.0)
>= 7                   0 (0.0)         1 (2.0)      12 (24.0)   13 (8.7)
SEPAL WIDTH [CM]
N                           50              50             50        150
MEAN                       3.4             2.8              3        3.1
MIN                        2.3               2            2.2          2
MEDIAN                     3.4             2.8              3          3
MAX                        4.4             3.4            3.8        4.4
STANDARD DEVIATION         0.4             0.3            0.3        0.4
SEPAL WIDTH (%)
< 3                    2 (4.0)       34 (68.0)      21 (42.0)  57 (38.0)
>= 3 AND < 3.5       27 (54.0)       16 (32.0)      26 (52.0)  69 (46.0)
>= 3.5 AND < 4       17 (34.0)         0 (0.0)        3 (6.0)  20 (13.3)

In [9]:
#Запишем таблицу в текстовый файл
df.to_csv('iris-flowers.txt', sep='\t')